.wmap-return {
  display: block;
  margin-top: -20px;
  margin-bottom: 10px;
}
.wmap-return:before {
  content: "\2190";
  color: #999999;
  margin-right: 6px;
  font-size: 22px;
}

@media screen and (max-width: 749px) {
  .wmap-return {
    text-align: center;
  }
}

.wmap-return:hover {
  color: var(--color-base-accent-1) !important;
}




.wmap-grapeslegend {
  top: -100%;
  opacity: 0;
  position: absolute;
  z-index: 10;
  box-shadow: 0 1px 4px rgba(132, 185, 136, 0.5);
  border: 1px solid #ffffff;
  border-radius: 4px;
  transition: all 0.5s ease;
}

.wmap-grapeslegend.active {
  display: block;
  opacity: 1;
}

.wmap-grapeslegend:after {
  display: block;
  content: "";
  position: absolute;
  bottom: -4px;
  left: -4px;
  right: auto;
  width: 8px;
  height: 8px;
  background: var(--color-base-accent-1);
  border-radius: 50%;
  border: 1px solid #fff;
}

#glKakheti.wmap-grapeslegend { right: 5%; }
#glKakheti.wmap-grapeslegend.active { top: 25%; }

#glKartli.wmap-grapeslegend { right: 18%; }
#glKartli.wmap-grapeslegend.active { top: 8%; }

#glRacha.wmap-grapeslegend { right: 40%; }
#glRacha.wmap-grapeslegend.active { top: 14%; }

#glLechkhumi.wmap-grapeslegend { right: 46%; }
#glLechkhumi.wmap-grapeslegend.active { top: 16%; }

#glSamegrelo.wmap-grapeslegend { left: 23%; }
#glSamegrelo.wmap-grapeslegend.active { top: 5%; }
#glSamegrelo.wmap-grapeslegend:after { left: auto; right: -4px; }

#glGuria.wmap-grapeslegend { top: 23%; left: 0; }
#glGuria.wmap-grapeslegend.active { left: 22%; }
#glGuria.wmap-grapeslegend:after { left: auto; right: -4px; }

#glAdjara.wmap-grapeslegend { top: 41%;  left: 0;}
#glAdjara.wmap-grapeslegend.active { left: 20%; }
#glAdjara.wmap-grapeslegend:after { left: auto; right: -4px; }

#glImereti.wmap-grapeslegend { left: 42%; }
#glImereti.wmap-grapeslegend.active { top: 12%; }

#glSamtskhe.wmap-grapeslegend { left: 48%; }
#glSamtskhe.wmap-grapeslegend.active { top: 48%; }

@media screen and (max-width: 1200px) {

  #glGuria.wmap-grapeslegend { top: 18%; left: 0; }
  #glGuria.wmap-grapeslegend.active { left: 22%; }

}

@media screen and (max-width: 1100px) {

  #glKakheti.wmap-grapeslegend { right: 3%; }
  #glKakheti.wmap-grapeslegend.active { top: 28%; }

  #glKartli.wmap-grapeslegend { right: 16%; }
  #glKartli.wmap-grapeslegend.active { top: 10%; }

  #glRacha.wmap-grapeslegend { right: 38%; }
  #glRacha.wmap-grapeslegend.active { top: 13%; }

  #glLechkhumi.wmap-grapeslegend { right: 46%; }
  #glLechkhumi.wmap-grapeslegend.active { top: 16%; }

  #glSamegrelo.wmap-grapeslegend { left: 23%; }
  #glSamegrelo.wmap-grapeslegend.active { top: 5%; }

  #glGuria.wmap-grapeslegend { top: 20%; left: 0; }
  #glGuria.wmap-grapeslegend.active { left: 20%; }

  #glAdjara.wmap-grapeslegend { top: 40%;  left: 0;}
  #glAdjara.wmap-grapeslegend.active { left: 22%; }

  #glImereti.wmap-grapeslegend { left: 42%; }
  #glImereti.wmap-grapeslegend.active { top: 10%; }

  #glSamtskhe.wmap-grapeslegend { left: 46%; }
  #glSamtskhe.wmap-grapeslegend.active { top: 44%; }

}

@media screen and (max-width: 900px) {

  #glSamegrelo.wmap-grapeslegend { left: 22%; }
  #glSamegrelo.wmap-grapeslegend.active { top: 5%; }

  #glGuria.wmap-grapeslegend { top: 10%; left: 0; }
  #glGuria.wmap-grapeslegend.active { left: 18%; }

  #glAdjara.wmap-grapeslegend { top: 36%;  left: 0;}
  #glAdjara.wmap-grapeslegend.active { left: 18%; }

}




.wmap-grapeslegend__hdr {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  line-height: 1;
  color: #ffffff;
  padding: 7px 10px 8px 15px;
  background-color: #84B988;
  border-radius: 4px 4px 0 0;
}

@media screen and (max-width: 1100px) {
  .wmap-grapeslegend__hdr {
    font-size: 12px;
    padding: 5px 5px 4px 10px;
    gap: 5px;
  }
}

.wmap-grapeslegend__close {
  background: url("b-close-w.svg") no-repeat center center;
  width: 10px;
  height: 10px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  opacity: 0.5;
}
.wmap-grapeslegend__close:hover {
  opacity: 1;
}

.wmap-grapeslegend__list {
  background-color: rgba(221, 245, 223, 0.60);
  backdrop-filter: blur(4px);
  border-radius: 0 0 4px 4px;
}

.wmap-grapeslegend__list > ul {
  list-style: none;
  margin: 0;
  padding: 5px 0;
}

.wmap-grapeslegend__list > ul li {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -1px;
  margin: 0;
}

@media screen and (max-width: 1100px) {
  .wmap-grapeslegend__list > ul li {
    font-size: 12px;
  }
}

.wmap-grapeslegend__list > ul li a {
  display: flex;
  align-items: center;
  padding: 5px 13px;
  text-decoration: none !important;
  color: #333333 !important;
  line-height: 1;

}
.wmap-grapeslegend__list > ul li a:hover {
  background-color: #ffffff;
}

@media screen and (max-width: 1100px) {
  .wmap-grapeslegend__list > ul li a {
    padding: 3px 7px;
  }
}

.gl-grape:before {
  content: "";
  background-size: cover;
  display: block;
  width: 14px;
  height: 18px;
  margin-right: 10px;
}
.gl-grape.grape--red:before {
  background-image: url("i-grape-red.svg");
}
.gl-grape.grape--white:before {
  background-image: url("i-grape-white.svg");
}
.gl-grape.grape--orange:before {
  background-image: url("i-grape-orange.svg");
}
.gl-grape.grape--rose:before {
  background-image: url("i-grape-rose.svg");
}

@media screen and (max-width: 1100px) {
  .gl-grape:before {
    width: 12px;
    height: 16px;
    margin-right: 6px;
  }
}









.wmap-legend {
  position: absolute;
  right: 4dvw;
  bottom: 4dvh;
  background-color: rgba(221, 221, 221, 0.25);
  backdrop-filter: blur(4px);
  padding: 10px 15px 10px 10px;
  border-radius: 5px;
  color: #000000;
  z-index: 10;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: -.05em;
  font-size: 14px;
  overflow: hidden;
}

.wmap-legend__hdr {
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  color: #cccccc;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.wmap-legend__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wmap-legend__list > li {
  display: flex;
  align-items: center;
  margin: 2px 0;
  white-space: nowrap;
  line-height: 1.2;
}

.wmap-legend__list > li:before {
  margin-top: 2px;
  margin-bottom: 2px;
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: solid 1px #FFB84D;
  margin-right: 10px;
  background-size: cover;
}
.wmap-legend__zone:before {
  background-image: url("ml-zone.svg");
  border-radius: initial !important;
  border: none !important;
}
.wmap-legend__red:before {
  background-image: url("ml-red.png");
}
.wmap-legend__white:before {
  background-image: url("ml-white.png");
}
.wmap-legend__rose:before {
  background-image: url("ml-rose.png");
}
.wmap-legend__amber:before {
  background-image: url("ml-amber.png");
}
.wmap-legend__amber-white:before {
  background-image: url("ml-amber-white.png");
}
.wmap-legend__red-white:before {
  background-image: url("ml-red-white.png");
}

@media screen and (max-width: 485px) {

  .wmap-legend {
    font-size: 12px;
    padding: 8px 10px;
    right: 20px;
    bottom: 40px;
  }

  .wmap-legend__hdr {
    font-size: 12px;
    margin-bottom: 3px;
  }

  .wmap-legend__list > li:before {
    width: 19px;
    height: 19px;
    margin-right: 5px;
  }

}



.svgBorders {
  stroke: #666;
  stroke-dasharray: 0 0 2 2;
  stroke-linejoin: round;
  fill: none;
}

.svgRegionName {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: -.05em;
  font-size: 16px;
  fill: #bbbbbb;
}

.wmap-vitidistr path {
  fill: #ccebb3;
  fill-rule: evenodd;
}

.path--fillnone {
  fill: none !important;
  stroke-linejoin: round;
}

.wmap-PDO path {
  stroke: #FFB84D;
  stroke-width: 1px;
  stroke-linecap: round;
}

.svgCoastline,
.svgRivers,
.svgLakes {
  stroke: #56bae6 !important;
  stroke-width: 1px;
}

.svgCoastline,
.svgRivers {
  fill: none !important;
}

.svgCoastline {
  stroke-width: 3px;
}

.svgLakes {
  fill: #abddf2 !important;
}

.svgRiverName {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: -.05em;
  font-size: 11px;
  fill: #56bae6;
}


.svgCity circle {
  fill: #333;
  stroke: #ffffff;
  stroke-width: 1px;
  opacity: 0.66;
}
.svgCity text {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: -.05em;
  font-size: 10px;
  fill: #333;
  opacity: 0.66;
  text-transform: uppercase;
}

.wwwwmap-region a {
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}
.wwwwmap-region a:hover {
  scale: 100.3%;
}

.wwwwmap-region a .callout__line,
.wwwwmap-region a .callout__point,
.wwwwmap-region a .callout__rect {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.callout__line {
  stroke: #407445 !important;
  stroke-width: 1px;
}
.wmap-region a:hover .callout__line {
  stroke: #CC2649 !important;
}

.callout__point {
  fill: #407445;
  stroke: #ffffff;
  stroke-width: 1px;
}
.wwwwmap-region a:hover .callout__point {
  fill: #CC2649;
}

.callout__rect {
  fill: #407445;
  opacity: 0.75;
}
.wwwwmap-region a:hover .callout__rect {
  opacity: 1;
  fill: #CC2649;
}

.callout__descript {
  fill: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: -.05em;
}



.i-grape {
  stroke: #ffffff;
  stroke-width: 1px;
  -webkit-filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, .25));
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, .25));
}

.i-grape__branch {
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  stroke-width: 2px;
}

.i-grape__list {
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: #407445;
}

.gr-grape-red {
  fill: url(#gr-grape-red);
}

.gr-grape-white {
  fill: url(#gr-grape-white);
}

.gr-grape-rose {
  fill: url(#gr-grape-rose);
}

.gr-grape-amber {
  fill: url(#gr-grape-amber);
}




/********   Georgia   ******/

.wmap-georgia {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.wmap-georgia #svgGeorgia {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {

  .wmap-georgia {
    overflow: auto;
  }

  .wmap-georgia #svgGeorgia {
    min-width: 700px;
  }

}

#svgGeorgia a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#svgGeorgia a:hover {
  scale: 100.3%;
}


#svgGeorgia .svgRegion {
  stroke: #666666;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
}


#svgGeorgia a .svgRegion {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#svgGeorgia a:hover .svgRegion {
  fill: #C8E7CB;
}

#svgGeorgia .svgName {
  fill: #CCCCCC;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -1px;
  -webkit-filter: drop-shadow(1px 0px 2px #ffffff);
  filter: drop-shadow(1px 0px 2px #ffffff);
}


#svgGeorgia a .svgName {
  fill: #333;
}

#svgGeorgia a:hover .svgName {
  fill: #AE194A;
}

#svgGeorgia .svgViticultural {
  fill: #CCEBB3;

}

#svgGeorgia a:hover .svgViticultural {
  fill: #AED2B1;
}


#emptyregAbkhazia .svgRegion,
#emptyregSvaneti .svgRegion,
#emptyregOssetia .svgRegion {
  fill: #fafafa;
}



#regionKakheti .svgRegion {
  fill: url(#grKakheti);
}

#regionKartli .svgRegion {
  fill: url(#grKartli);
}

#regionSamtskhe .svgRegion {
  fill: url(#grSamtskhe);
}

#regionAdjara .svgRegion {
  fill: url(#grAdjara);
}

#regionGuria .svgRegion {
  fill: url(#grGuria);
}

#regionImereti .svgRegion {
  fill: url(#grImereti);
}

#regionRacha .svgRegion {
  fill: url(#grRacha);
}

#regionLechkhumi .svgRegion {
  fill: url(#grLechkhumi);
}

#regionSamegrelo .svgRegion {
  fill: url(#grSamegrelo);
}



















/********   Kakheti   ******/

.wmap-kakheti {
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.wmap-kakheti #Region-Kakheti {
  width: 100%;
  max-width: 800px;
  height: auto;
}


#Region-Kakheti-bk {
  fill: url(#grKakheti);
  stroke: #666;
  stroke-width: 1px;
}

#PDO-Akhmeta path {
  fill: url(#gr-white-amber);
}

#PDO-Magraani path {
  fill: url(#gr-white-amber);
}

#PDO-Tsinandali path {
  fill: url(#gr-white);
}

#PDO-Teliani path {
  fill: url(#gr-red);
}

#PDO-Mukuzani path  {
  fill: url(#gr-red);
}

#PDO-Vazisubani path {
  fill: url(#gr-white);
}

#PDO-Zegaani path {
  fill: url(#gr-red);
}

#PDO-Akhasheni path {
  fill: url(#gr-red);
}

#PDO-Kotekhi path {
  fill: url(#gr-red-white);
}

#PDO-Gurjaani path {
  fill: url(#gr-white);
}

#PDO-Kardanakhi path {
  fill: url(#gr-white-amber);
}

#PDO-Tsarapi path {
  fill: url(#gr-amber);
}

#PDO-Akhoebi path {
  fill: url(#gr-red);
}

#PDO-Kindzmarauli-Kvareli path {
  fill: url(#gr-red);
}

#PDO-Napareuli path {
  fill: url(#gr-red);
}

#PDO-Saperavi path {
  fill: url(#gr-red);
}

#PDO-Manavi path {
  fill: url(#gr-white);
}

#PDO-Tibaani path {
  fill: url(#gr-amber);
}



/********   Kartli   ******/


.wmap-kartli {
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.wmap-kartli #Region-Kartli {
  width: 100%;
  max-width: 800px;
  height: auto;
}

#Region-Kartli-bk {
  fill: url(#grKartli);
  stroke: #666;
  stroke-width: 1px;
}

#PDO-Asuretuli-Shala path {
  fill: url(#gr-red);
}

#PDO-Ateni path {
  fill: url(#gr-white);
}

#PDO-Okami path {
  fill: url(#gr-red-white);
}

#PDO-Bolnisi path {
  fill: url(#gr-red-white);
}



/********   Racha   ******/


.wmap-racha {
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.wmap-racha #Region-Racha {
  width: 100%;
  max-width: 1200px;
  height: auto;
}

#Region-Racha-bk {
  fill: url(#grRacha);
  stroke: #666;
  stroke-width: 1px;
}

#PDO-Khvanchkara path {
  fill: url(#gr-red);
}

#PDO-Tvishi path {
  fill: url(#gr-white);
}