.wmap-return {
  display: block;
  margin-top: -20px;
  margin-bottom: 10px;
}
.wmap-return:before {
  content: "\2190";
  color: #999999;
  margin-right: 6px;
  font-size: 22px;
}

@media screen and (max-width: 749px) {
  .wmap-return {
    text-align: center;
  }
}

.wmap-return:hover {
  color: var(--color-base-accent-1) !important;
}



.wmap-regionlegend {

  --rl-width: 200px;

  top: -100%;
  opacity: 0;
  position: absolute;
  z-index: 10;
  background-color: rgba(227, 239, 228, 0.75);
  backdrop-filter: blur(4px);
  box-shadow: 0 1px 4px rgba(132, 185, 136, 0.5);
  border: 1px solid #ffffff;
  border-radius: 4px;
  transition: all 0.5s ease;
  width: var(--rl-width);
}

.wmap-regionlegend.active {
  display: block;
  opacity: 1;
}

.wmap-regionlegend:after {
  display: block;
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -5px;
  left: -5px;
  right: auto;
  width: 10px;
  height: 10px;
  background: var(--color-base-accent-1);
  border-radius: 50%;
  border: 1px solid #fff;
}


#rlKakheti.wmap-regionlegend { left: calc(97% - var(--rl-width)); }
#rlKakheti.wmap-regionlegend.active { top: 8%; }

#rlKartli.wmap-regionlegend { left: calc(81% - var(--rl-width)); }
#rlKartli.wmap-regionlegend.active { top: 6%; }

#rlRacha.wmap-regionlegend { left: calc(64% - var(--rl-width)); }
#rlRacha.wmap-regionlegend.active { top: 2px; }

#rlLechkhumi.wmap-regionlegend { left: calc(58% - var(--rl-width)); }
#rlLechkhumi.wmap-regionlegend.active { top: 2px; }

#rlSamegrelo.wmap-regionlegend { left: calc(30% - var(--rl-width)); }
#rlSamegrelo.wmap-regionlegend.active { top: 2%; }
#rlSamegrelo.wmap-regionlegend:after { left: auto; right: -5px; }

#rlGuria.wmap-regionlegend { top: 8%; left: 0; }
#rlGuria.wmap-regionlegend.active { left: calc(30% - var(--rl-width)); }
#rlGuria.wmap-regionlegend:after { left: auto; right: -5px; }

#rlAdjara.wmap-regionlegend { top: 28%;  left: 0;}
#rlAdjara.wmap-regionlegend.active { left: calc(29% - var(--rl-width)); }
#rlAdjara.wmap-regionlegend:after { left: auto; right: -5px; }

#rlImereti.wmap-regionlegend { left: calc(60% - var(--rl-width)); }
#rlImereti.wmap-regionlegend.active { top: 2px; }

#rlSamtskhe-Javakheti.wmap-regionlegend { left: calc(63% - var(--rl-width)); }
#rlSamtskhe-Javakheti.wmap-regionlegend.active { top: 33%; }


@media screen and (max-width: 1200px) {

  #rlKakheti.wmap-regionlegend { left: calc(99% - var(--rl-width)); }
  #rlKakheti.wmap-regionlegend.active { top: 1%; }

  #rlKartli.wmap-regionlegend { left: calc(80% - var(--rl-width)); }
  #rlKartli.wmap-regionlegend.active { top: 1%; }

  #rlRacha.wmap-regionlegend { left: calc(66% - var(--rl-width)); }
  #rlRacha.wmap-regionlegend.active { top: 2%; }
  #rlRacha.wmap-regionlegend:after { bottom: 24px; }

  #rlLechkhumi.wmap-regionlegend { left: calc(60% - var(--rl-width)); }
  #rlLechkhumi.wmap-regionlegend.active { top: 1%; }
  #rlLechkhumi.wmap-regionlegend:after { bottom: 24px; }

  #rlSamegrelo.wmap-regionlegend { left: calc(30% - var(--rl-width)); }
  #rlSamegrelo.wmap-regionlegend.active { top: 2px; }

  #rlGuria.wmap-regionlegend { top: 4%; left: 0; }
  #rlGuria.wmap-regionlegend.active { left: calc(30% - var(--rl-width)); }
  #rlGuria.wmap-regionlegend:after { bottom: 24px; }

  #rlAdjara.wmap-regionlegend { top: 20%;  left: 0;}
  #rlAdjara.wmap-regionlegend.active { left: calc(29% - var(--rl-width)); }

  #rlImereti.wmap-regionlegend { left: calc(63% - var(--rl-width)); }
  #rlImereti.wmap-regionlegend.active { top: 2px; }
  #rlImereti.wmap-regionlegend:after { bottom: 48px; }

  #rlSamtskhe-Javakheti.wmap-regionlegend { left: calc(66% - var(--rl-width)); }
  #rlSamtskhe-Javakheti.wmap-regionlegend.active { top: 28%; }

}


@media screen and (max-width: 1100px) {

  #rlKakheti.wmap-regionlegend { left: calc(100% - var(--rl-width)); }
  #rlKakheti.wmap-regionlegend.active { top: 2px; }

  #rlKartli.wmap-regionlegend { left: calc(84% - var(--rl-width)); }
  #rlKartli.wmap-regionlegend.active { top: 2px; }

  #rlRacha.wmap-regionlegend { left: calc(67% - var(--rl-width)); }
  #rlRacha.wmap-regionlegend.active { top: 2px; }

  #rlLechkhumi.wmap-regionlegend { left: calc(62% - var(--rl-width)); }
  #rlLechkhumi.wmap-regionlegend.active { top: 2px; }

  #rlSamegrelo.wmap-regionlegend { left: calc(30% - var(--rl-width)); }
  #rlSamegrelo.wmap-regionlegend.active { top: 2px; }

  #rlGuria.wmap-regionlegend { top: 4%; left: 0; }
  #rlGuria.wmap-regionlegend.active { left: calc(30% - var(--rl-width)); }
  #rlGuria.wmap-regionlegend:after { bottom: 20px; }

  #rlAdjara.wmap-regionlegend { top: 21%;  left: 0;}
  #rlAdjara.wmap-regionlegend.active { left: calc(29% - var(--rl-width)); }

  #rlImereti.wmap-regionlegend { left: calc(64% - var(--rl-width)); }
  #rlImereti.wmap-regionlegend.active { top: 2px; }
  #rlImereti.wmap-regionlegend:after { bottom: 42px; }

  #rlSamtskhe-Javakheti.wmap-regionlegend { left: calc(66% - var(--rl-width)); }
  #rlSamtskhe-Javakheti.wmap-regionlegend.active { top: 26%; }

}


@media screen and (max-width: 1000px) {

  #rlKakheti.wmap-regionlegend { left: calc(100% - var(--rl-width)); }
  #rlKakheti.wmap-regionlegend.active { top: 2px; }
  #rlKakheti.wmap-regionlegend:after { left: calc(var(--rl-width)/2 - 5px); }

  #rlKartli.wmap-regionlegend { left: calc(86% - var(--rl-width)); }
  #rlKartli.wmap-regionlegend.active { top: 2px; }
  #rlKartli.wmap-regionlegend:after { bottom: 42px; }

  #rlRacha.wmap-regionlegend { left: calc(70% - var(--rl-width)); }
  #rlRacha.wmap-regionlegend.active { top: 2px; }
  #rlRacha.wmap-regionlegend:after { bottom: 42px; }

  #rlLechkhumi.wmap-regionlegend { left: calc(64% - var(--rl-width)); }
  #rlLechkhumi.wmap-regionlegend.active { top: 2px; }
  #rlLechkhumi.wmap-regionlegend:after { bottom: 42px; }

  #rlSamegrelo.wmap-regionlegend { left: calc(30% - var(--rl-width)); }
  #rlSamegrelo.wmap-regionlegend.active { top: 2px; }
  #rlSamegrelo.wmap-regionlegend:after { bottom: 42px; }

  #rlGuria.wmap-regionlegend { top: 2%; left: 0; }
  #rlGuria.wmap-regionlegend.active { left: calc(30% - var(--rl-width)); }
  #rlGuria.wmap-regionlegend:after { bottom: 42px; }

  #rlAdjara.wmap-regionlegend { top: 14%;  left: 0;}
  #rlAdjara.wmap-regionlegend.active { left: calc(29% - var(--rl-width)); }

  #rlImereti.wmap-regionlegend { left: calc(68% - var(--rl-width)); }
  #rlImereti.wmap-regionlegend.active { top: 2px; }
  #rlImereti.wmap-regionlegend:after { bottom: 42px; }

  #rlSamtskhe-Javakheti.wmap-regionlegend { left: calc(70% - var(--rl-width)); }
  #rlSamtskhe-Javakheti.wmap-regionlegend.active { top: 25%; }

}


@media screen and (max-width: 900px) {

  #rlKakheti.wmap-regionlegend { left: calc(100% - var(--rl-width)); }
  #rlKakheti.wmap-regionlegend.active { top: 2px; }
  #rlKakheti.wmap-regionlegend:after { left: calc(var(--rl-width)/2 - 5px); }

  #rlKartli.wmap-regionlegend { left: calc(90% - var(--rl-width)); }
  #rlKartli.wmap-regionlegend.active { top: 2px; }
  #rlKartli.wmap-regionlegend:after { bottom: 72px; }

  #rlRacha.wmap-regionlegend { left: calc(72% - var(--rl-width)); }
  #rlRacha.wmap-regionlegend.active { top: 2px; }

  #rlLechkhumi.wmap-regionlegend { left: calc(67% - var(--rl-width)); }
  #rlLechkhumi.wmap-regionlegend.active { top: 2px; }
  #rlLechkhumi.wmap-regionlegend:after { bottom: 68px; }

  #rlSamegrelo.wmap-regionlegend { left: calc(30% - var(--rl-width)); }
  #rlSamegrelo.wmap-regionlegend.active { top: 2px; }

  #rlGuria.wmap-regionlegend { top: 2px; left: 0; }
  #rlGuria.wmap-regionlegend.active { left: calc(30% - var(--rl-width)); }
  #rlGuria.wmap-regionlegend:after { bottom: 64px; }

  #rlAdjara.wmap-regionlegend { top: 6%;  left: 0;}
  #rlAdjara.wmap-regionlegend.active { left: calc(29% - var(--rl-width)); }

  #rlImereti.wmap-regionlegend { left: calc(66% - var(--rl-width)); }
  #rlImereti.wmap-regionlegend.active { top: 2px; }
  #rlImereti.wmap-regionlegend:after { bottom: 42px; }

  #rlSamtskhe-Javakheti.wmap-regionlegend { left: calc(72% - var(--rl-width)); }
  #rlSamtskhe-Javakheti.wmap-regionlegend.active { top: 14%; }

}


.wmap-regionlegend__hdr {
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  line-height: 1;
  color: #000000;
  padding: 9px 9px 6px 9px;
}

@media screen and (max-width: 1100px) {
  .wmap-regionlegend__hdr {
    font-size: 14px;
  }
}

.wmap-regionlegend__hdr > a {
  color: #000000;
  text-decoration: none;
  border-bottom: dotted 1px #000000;
}
.wmap-regionlegend__hdr > a:hover {
  color: var(--color-base-accent-1);
  border-color: transparent;
}

.wmap-regionlegend__close {
  background: url("b-close-g.svg") no-repeat center center;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: none;
  opacity: 0.75;
  margin-left: 9px;
}
.wmap-regionlegend__close:hover {
  opacity: 1;
}

.wmap-regionlegend__descript {
  margin: 0 3px 9px 9px;
  padding: 0;
}

.wmap-regionlegend__descript > li {
  list-style: none;
  margin: 3px auto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1;
  color: #333333;
}

@media screen and (max-width: 1100px) {
  .wmap-regionlegend__descript > li {
    font-size: 11px;
  }
}

.wmap-regionlegend__charact,
.wmap-regionlegend__winelist {
  list-style: none;
  margin: 0;
  padding: 3px 0;
  border-top: solid 1px #fff;
}

.wmap-regionlegend__charact > li,
.wmap-regionlegend__winelist > li {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -1px;
  margin: 0;
}

@media screen and (max-width: 1100px) {
  .wmap-regionlegend__charact > li,
  .wmap-regionlegend__winelist > li {
    font-size: 12px;
  }
}

.wmap-regionlegend__charact > li a,
.wmap-regionlegend__winelist > li a {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 3px 9px;
  text-decoration: none !important;
  color: #333333 !important;
  line-height: 1;
}

.wmap-regionlegend__charact > li a:hover,
.wmap-regionlegend__winelist > li a:hover {
  background-color: #ffffff;
}

.wmap-regionlegend__charact > li a {
  justify-content: space-between;
}

.wmap-regionlegend__charact > li a span {
  display: block;
  flex: 1 1 auto;
}

.charact-qnt {
  text-align: right;
  font-weight: 600;
}

.rl-icon:before {
  content: "";
  background-size: cover;
  display: block;
  width: 14px;
  height: 18px;
}
.rl-icon.i-wineries:before {
  background-image: url("i-wineries.svg");
}
.rl-icon.i-wines:before {
  background-image: url("i-wines.svg");
}
.rl-icon.i-grape--red:before {
  background-image: url("i-grape-red.svg");
}
.rl-icon.i-grape--red:before {
  background-image: url("i-grape-red.svg");
}
.rl-icon.i-grape--white:before {
  background-image: url("i-grape-white.svg");
}
.rl-icon.i-grape--orange:before {
  background-image: url("i-grape-orange.svg");
}
.rl-icon.i-grape--rose:before {
  background-image: url("i-grape-rose.svg");
}

@media screen and (max-width: 1100px) {
  .rl-icon:before {
    width: 12px;
    height: 16px;
  }
}



.wmap-legend {
  position: absolute;
  right: 4dvw;
  bottom: 4dvh;
  background-color: rgba(221, 221, 221, 0.25);
  backdrop-filter: blur(4px);
  padding: 10px 15px 10px 10px;
  border-radius: 5px;
  color: #000000;
  z-index: 10;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: -.03em;
  font-size: 14px;
  overflow: hidden;
}

.wmap-legend__hdr {
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  color: #cccccc;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.wmap-legend__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wmap-legend__list > li {
  display: flex;
  align-items: center;
  margin: 2px 0;
  white-space: nowrap;
  line-height: 1.2;
}

.wmap-legend__list > li:before {
  margin-top: 2px;
  margin-bottom: 2px;
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: solid 1px #FFB84D;
  margin-right: 10px;
  background-size: cover;
}
.wmap-legend__zone:before {
  background-image: url("ml-zone.svg");
  border-radius: initial !important;
  border: none !important;
}
.wmap-legend__red:before {
  background-image: url("ml-red.png");
}
.wmap-legend__white:before {
  background-image: url("ml-white.png");
}
.wmap-legend__rose:before {
  background-image: url("ml-rose.png");
}
.wmap-legend__amber:before {
  background-image: url("ml-amber.png");
}
.wmap-legend__amber-white:before {
  background-image: url("ml-amber-white.png");
}
.wmap-legend__red-white:before {
  background-image: url("ml-red-white.png");
}

@media screen and (max-width: 485px) {

  .wmap-legend {
    font-size: 12px;
    padding: 8px 10px;
    right: 20px;
    bottom: 40px;
  }

  .wmap-legend__hdr {
    font-size: 12px;
    margin-bottom: 3px;
  }

  .wmap-legend__list > li:before {
    width: 19px;
    height: 19px;
    margin-right: 5px;
  }

}



.svgRegion {
  stroke: #666666;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

a .svgRegion {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.svgViticultural {
  fill: #CCEBB3;
  stroke-linejoin: round;
}

.svg--empty {
  fill: #eeeeee;
  stroke: none;
}

a:hover .svgViticultural {
  fill: #AED2B1;
}

.svgBorders {
  stroke: #666;
  stroke-dasharray: 0 0 2 2;
  stroke-linejoin: round;
  fill: none;
}

.svgRegionName {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: -.03em;
  font-size: 16px;
  fill: #bbbbbb;
}

.svgCoastline,
.svgRivers,
.svgLakes {
  stroke: #56bae6 !important;
  stroke-width: 1px;
}

.svgCoastline,
.svgRivers {
  fill: none !important;
}

.svgCoastline {
  stroke-width: 3px;
}

.svgLakes {
  fill: #abddf2 !important;
}

.svgRiverName {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: -.03em;
  font-size: 11px;
  fill: #56bae6;
}

.svgPDO {
  stroke: #FFB84D;
  stroke-width: 1px;
  stroke-linecap: round;
}

.svgCity circle {
  fill: #333;
  stroke: #ffffff;
  stroke-width: 1px;
  r: 3px;
  opacity: 0.66;
}
.svgCity text {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: -.03em;
  font-size: 10px;
  fill: #333;
  opacity: 0.66;
  text-transform: uppercase;
}
.svgCity text tspan {
  fill: #dddddd;
}

.path--fillnone {
  fill: none !important;
  stroke-linejoin: round;
}

.wmap-region a {
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}
.wmap-region a:hover {
  scale: 100.3%;
}

.wmap-region a .pdo-callout path,
.wmap-region a .pdo-callout circle,
.wmap-region a .pdo-callout foreignObject {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.pdo-callout path {
  stroke: #407445 !important;
  stroke-width: 1px;
}
.wmap-region a:hover .pdo-callout path {
  stroke: #333333 !important;
  box-shadow: 1px 1px 3px #ffffff;
}

.pdo-callout circle {
  fill: #407445;
  stroke: #ffffff;
  stroke-width: 1px;
  r: 2.5px;
}
.wmap-region a:hover .pdo-callout circle {
  stroke: #333333;
  fill: #ffffff;
}

.pdo-callout foreignObject{
  background-color: rgba(64,116,69,0.75);
  height: 15px;
  text-align: center;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: -.03em;
}
.wmap-region a:hover .pdo-callout foreignObject {
  background-color: #AE194A;
}

.i-grape {
  stroke: #ffffff;
  stroke-width: 1px;
  -webkit-filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, .25));
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, .25));
}

.i-grape__branch {
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  stroke-width: 2px;
}

.i-grape__list {
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: #407445;
}

.gr-grape-red {
  fill: url(#gr-grape-red);
}

.gr-grape-white {
  fill: url(#gr-grape-white);
}

.gr-grape-rose {
  fill: url(#gr-grape-rose);
}

.gr-grape-amber {
  fill: url(#gr-grape-amber);
}



.winemap-plate {
  position: sticky;
  top: 40px;
  background: #ffffff;
  z-index: 3;
  padding: 20px 20px 50px 20px;
}

@media screen and (min-resolution: 120dpi) {
  .winemap-plate {
    transform: scale(0.8);
    width: 125%;
    margin-left: -12.5%;
    margin-top: -6%;
    top: -40px;
    overflow: hidden;
  }
}

.winemap-plate > .page_title {
  font-size: 32px;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}





/********   Georgia   ******/

.wmap-georgia {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.wmap-georgia #svgGeorgia {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {

  .wmap-georgia {
    overflow: auto;
  }

  .wmap-georgia #svgGeorgia {
    min-width: 700px;
  }

}

#svgGeorgia a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#svgGeorgia a:hover {
  scale: 100.3%;
}

#svgGeorgia a:hover .svgRegion {
  fill: #C8E7CB;
}

#svgGeorgia .svgName {
  fill: #CCCCCC;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -1px;
  -webkit-filter: drop-shadow(1px 0px 2px #ffffff);
  filter: drop-shadow(1px 0px 2px #ffffff);
}

#svgGeorgia a .svgName {
  fill: #333;
}

#svgGeorgia a:hover .svgName {
  fill: #AE194A;
}

#svgGeorgia .svgName#nameSvaneti,
#svgGeorgia .svgName#nameAbkhazia,
#svgGeorgia .svgName#nameOssetia      { fill: #999; }
#emptyregAbkhazia .svgRegion          { fill: url(#grAbkhazia);  }
#emptyregOssetia .svgRegion           { fill: url(#grOssetia); }
#emptyregSvaneti .svgRegion           { fill: url(#grSvaneti); }
#regionKakheti .svgRegion             { fill: url(#grKakheti); }
#regionKartli .svgRegion              { fill: url(#grKartli); }
#regionSamtskhe-Javakheti .svgRegion  { fill: url(#grSamtskhe-Javakheti); }
#regionAdjara .svgRegion              { fill: url(#grAdjara); }
#regionGuria .svgRegion               { fill: url(#grGuria); }
#regionImereti .svgRegion             { fill: url(#grImereti); }
#regionRacha .svgRegion               { fill: url(#grRacha); }
#regionLechkhumi .svgRegion           { fill: url(#grLechkhumi); }
#regionSamegrelo .svgRegion           { fill: url(#grSamegrelo); }
#regionSvaneti .svgRegion             { fill: url(#grSvaneti); }





/********   Kakheti   ******/

.wmap-kakheti {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.wmap-kakheti #svgKakheti {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {

  .wmap-kakheti {
    overflow: auto;
  }

  .wmap-kakheti #svgKakheti {
    min-width: 400px;
  }

}

#PDO-Akhmeta .svgPDO              { fill: url(#gr-white-amber); }
#PDO-Kisi-Magraani .svgPDO        { fill: url(#gr-white-amber); }
#PDO-Tsinandali .svgPDO           { fill: url(#gr-white); }
#PDO-Teliani .svgPDO              { fill: url(#gr-red); }
#PDO-Mukuzani .svgPDO             { fill: url(#gr-red); }
#PDO-Vazisubani .svgPDO           { fill: url(#gr-white); }
#PDO-Zegaani .svgPDO              { fill: url(#gr-red); }
#PDO-Akhasheni .svgPDO            { fill: url(#gr-red); }
#PDO-Kotekhi .svgPDO              { fill: url(#gr-red-white); }
#PDO-Gurjaani .svgPDO             { fill: url(#gr-white); }
#PDO-Kardanakhi .svgPDO           { fill: url(#gr-white-amber); }
#PDO-Tsarapi .svgPDO              { fill: url(#gr-amber); }
#PDO-Akhoebi .svgPDO              { fill: url(#gr-red); }
#PDO-Kindzmarauli-Kvareli .svgPDO { fill: url(#gr-red); }
#PDO-Napareuli .svgPDO            { fill: url(#gr-red); }
#PDO-Saperavi-Khashmi .svgPDO     { fill: url(#gr-red); }
#PDO-Manavi .svgPDO               { fill: url(#gr-white); }
#PDO-Tibaani .svgPDO              { fill: url(#gr-amber); }





/********   Kartli   ******/

.wmap-kartli {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.wmap-kartli #svgKartli {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {

  .wmap-kartli {
    overflow: auto;
  }

  .wmap-kartli #svgKartli {
    min-width: 400px;
  }

}

#PDO-Asuretuli-Shala .svgPDO  { fill: url(#gr-red); }
#PDO-Ateni .svgPDO            { fill: url(#gr-white); }
#PDO-Okami .svgPDO            { fill: url(#gr-red-white); }
#PDO-Bolnisi .svgPDO          { fill: url(#gr-red-white); }







/********   Racha   ******/

.wmap-racha {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.wmap-racha #svgRacha {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {

  .wmap-racha {
    overflow: auto;
  }

  .wmap-racha #svgRacha {
    min-width: 400px;
  }

}

#PDO-Khvanchkara .svgPDO { fill: url(#gr-red); }
